* {
    box-sizing: border-box;
}
body {
    background-color: #8a719c;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
  
#message {
    color: yellow;
    font-size: 2vmin; 
    font-weight: bold; 
}
  
.hand {
    display: flex;
    justify-content: center;
}
header {
    font-size: 4vmin;
    color: darkgrey;
    letter-spacing: 1vmin;
}
  
h1 {
    color: black;
    font-size: 3vmin;
    letter-spacing: 1vmin;
}
 
.card {
    margin: 3vh;
    width: 4.0em;
    height: 5.5em;
  
}
  
.card.outline {
    border: 0.15em dashed #202d7a;
}
  
.card.shadow {
    box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

#chips {
  color: white;
  font-size: 1.5vmin; 
  font-weight: bold; 
  line-height: 32px;
}
#bets {
  color: white;
  font-size: 1.5vmin; 
  font-weight: bold; 
  line-height: 20px;
}

@media(max-width: 480px){
  body {
    background-color: #8a719c;
  }

  .card {
    width: 2.6em;
    height: 3.6em;
 }
 #chips {
  font-size: 3.5vw;
  line-height: 24px; 
}
#bets {
  font-size: 3.5vw;
  line-height: 18px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.5em;
    justify-content: center;
 }
 #message {
  color: yellow;
  font-size: 4vmin; 
  font-weight: bold; 
 }
h2 {
  color: black;
  font-size: 3vmin;
  letter-spacing: 1vmin;
 }
button {
  margin-top: 0;
  color: black;
 }

}